*{
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: auto;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
/* header section */
header {
    display: flex;
    float: right;
    cursor: pointer;
    margin-top: 10px;
}
.header-nav {
    padding: 10px;
    font-size: 13px;
   
}
.header-nav:hover {
    text-decoration: underline;
}

.profile {
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 4px;
}

.profile:hover{
    box-shadow: 1px 1px 5px rgb(99, 93, 93);
}
/* middle section */
ul{
    display: flex;
}
.list {
    list-style: none;
    font-weight: 400;
    font-size: 5em;
}


/* google text color starts here */
.first {
    color: rgb(39, 105, 247);
}
.second {
    color: rgb(248, 12, 12);
}
.third {
    color: yellow;
}
.fifth {
    color: rgb(18, 175, 13);
}

.buffer {
    height: 17vh;
}
.main-text {
    display: flex;
    justify-content: center;
    align-items:center;
}
.form {
    text-align: center;
}

.input {
    width: 640px;
    padding: 15px 20px;
    border-radius: 40px;
    border: 0.2px solid rgb(94, 94, 94);
    margin-top: 10px;
}

input.input{
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
}
.button {
    background-color: rgb(224, 224, 224);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 16px;
    text-align: center;
    border: 0.3px solid rgb(224, 224, 224);
    justify-content: center;
    margin: 28px 10px;
}
.button:hover{
    border: 0.2px solid rgb(134, 134, 134);
}


/* Text after button and input */
.text-after-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color:rgb(39, 105, 247);
    font-size: 0.75em;
    text-decoration: none;
    cursor: pointer;
}
.text:hover {
    text-decoration: underline;
}

.text-after-button1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-second {
    list-style: none;
    text-decoration: none;
    margin: 6px;
    font-size: 0.8em;
}
.list-a {
    color:rgb(39, 105, 247);
    text-decoration: none;
}
.list-a:hover {
    text-decoration: underline;
}


/* footer */
.footer{
    /* display: flex; */
    background-color: rgb(230, 230, 230);
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-li {
    list-style: none;
    margin: 15px 16px;
    color:rgb(105, 105, 105);
    float: left;
    font-size: 0.88em;
}
.footer-li:hover{
    text-decoration: underline;
}
.footer-li-last {
    float: right;
}

/* Responsive  */
@media only screen and (max-width: 550px) {
    .input {
        width: 500px;
        padding: 11px 15px;
        border-radius: 40px;
        border: 0.2px solid rgb(94, 94, 94);
        margin-top: 10px;
    }
    .list {
        list-style: none;
        font-weight: 400;
        font-size: 3.6em;
    }  
}
@media only screen and (max-width: 470px) {
    .input {
        width: 400px;
        padding: 9px 12px;
        border-radius: 40px;
        border: 0.2px solid rgb(94, 94, 94);
        margin-top: 10px;
    }
    .list {
        list-style: none;
        font-weight: 400;
        font-size: 3.2em;
    }  
    .form {
        text-align: center;
        margin-left: 30px;
    }
    .main-text {
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: 20px;
        margin-right: 8px;
    }
    .list-second {
        list-style: none;
        text-decoration: none;
        margin: 3px;
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 378px) {
    .input {
        width: 350px;
        padding: 6px 9px;
        border-radius: 40px;
        border: 0.2px solid rgb(94, 94, 94);
        margin-top: 10px;
    }
    .list {
        list-style: none;
        font-weight: 400;
        font-size: 2.9em;
    }  
    .form {
        text-align: center;
        margin-left: 18px;
    }
    .main-text {
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: 14px;
        margin-right: 8px;
    }
    .list-second {
        list-style: none;
        text-decoration: none;
        margin: 3px;
        font-size: 0.5em;
    }
}